Source: ros-rolling-network-bridge
Section: misc
Priority: optional
Maintainer: Ethan Brown <brow1633@purdue.edu>
Build-Depends: debhelper (>= 9.0.0), libboost-system-dev, libzstd-dev, pkg-config, ros-rolling-ament-cmake, ros-rolling-ament-cmake-pytest <!nocheck>, ros-rolling-ament-lint-auto <!nocheck>, ros-rolling-ament-lint-common <!nocheck>, ros-rolling-launch-testing <!nocheck>, ros-rolling-launch-testing-ament-cmake <!nocheck>, ros-rolling-launch-testing-ros <!nocheck>, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-std-msgs, ros-rolling-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-rolling-network-bridge
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, libboost-system-dev, libzstd-dev, ros-rolling-pluginlib, ros-rolling-rclcpp, ros-rolling-std-msgs, ros-rolling-ros-workspace
Description: Allows for arbitrary network links (UDP, TCP, etc) to bridge ROS2 messages
